<!doctype html>
<head>
    <title>View image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    {% if prev_url %}
    <a href="{{prev_url}}">PREV</a>
    {% endif %}
    {% if next_url %}
    <a href="{{next_url}}">NEXT</a>
    {% endif %}
    <div>
    {% for media_file in media_files %}
        {% if is_video_file(media_file) %}
            <a href="{{url_for('getfile', folder=dir, file=media_file)}}"><img class="video-thumbnail" src="{{url_for('getfile', folder=dir, file=media_file, thumb='1')}}"/></a>
        {% else %}
            <a href="{{url_for('getfile', folder=dir, file=media_file)}}"><img src="{{url_for('getfile', folder=dir, file=media_file, thumb='1')}}"/></a>
        {%endif %}
    {% endfor %}
    </div>
</body>
